<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-facebook" style="color: #4169E1 !important;"></i>
            <i class="fa-brands fa-instagram" style="color: #d62976 !important;"></i>
            <i class="fa-brands fa-linkedin-in" style="color: #4169E1 !important;"></i>
        </div>
        <div class="f-info-brand">
            &copy EzStayz Private Limited
        </div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>